.ChineseChess {
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid whitesmoke;
    padding: 5px;
}
.Bord {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // width: 40vmax;
    // height: 50vmax;
    background: rgb(158, 152, 132);
    .cellrow {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .Cell {
            position: relative;
            flex: 1;
            width: 5vmax;
            height: 5vmax;
            display: inline-flex;
            border: 2px solid gray;
            &.current {
                border: 2px solid white;
            }
            .Chess {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                line-height: 0;
                font-size: 25px;
                font-weight: bold;
                border-radius: 50%;
                background: rgb(218, 188, 114);
                &.red {
                    color: red;
                }
            }
        }
    }
}
