$M_height: 30px;
$M_Lheihgt: 30px;
$M-font: 20px;
.ThreeDemo {
    display: flex;
    flex: 1;
    position: relative;
    .ThreeDemo-header {
        display: inline-flex;
        flex-direction: column;
        z-index: 1;
        color: cornsilk;
        .ThreeDemo-header-titile {
            height: $M_height;
            line-height: $M_Lheihgt;
            font-size: $M-font;
        }
        .ThreeDemo-header-navi {
            display: flex;
            flex-direction: column;
            justify-content: left;
            .navi {
                display: inline-block;
                margin-top: 20px;
                padding: 5px 10px;
                background: rgb(114, 168, 6);
                color: white;
                box-sizing: border-box;
                transition: all 0.5s ease-in-out;
                border-radius: 5px;
                &:hover {
                    cursor: pointer;
                    background: rgb(132, 192, 72);
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .ThreeDemo-header-operation{
            display: inline-block;
            margin-top: 10px;
            height: 10px;
            background: yellowgreen;
            
        }
    }
    // game content
    .ThreeDemo-Game {
        flex: 1;
        padding-left: 10px;
        position: relative;
        overflow: hidden;
        #DemoContainer {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}
